/* color palette from <https://github.com/vuejs/theme> */
:root {
  --miq-white: #ffffff;
  --miq-white-soft: #f8f8f8;
  --miq-white-mute: #f2f2f2;

  --miq-black: #000000;
  --miq-black-soft: #222222;
  --miq-black-mute: #282828;

  --miq-aqua: #68DAC1;
  --miq-yellow-light: #ffc35b;
  --miq-yellow: #FFB32C;
  --miq-green: #3A7D44;
  --miq-red: #D62246;
  --miq-blue: #00AAF8;

  --miq-divider-light-1: rgba(60, 60, 60, 0.29);
  --miq-divider-light-2: rgba(60, 60, 60, 0.12);
  --miq-divider-dark-1: rgba(84, 84, 84, 0.65);
  --miq-divider-dark-2: rgba(84, 84, 84, 0.48);

  --miq-text-light-1: var(--miq-aqua);
  --miq-text-light-2: rgba(60, 60, 60, 0.66);
  --miq-text-dark-1: var(--miq-black);
  --miq-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--miq-white);
  --color-background-soft: var(--miq-white-soft);
  --color-background-mute: var(--miq-white-mute);
  --color-background-btn: var(--miq-yellow);
  --color-background-btn-hover: var(--miq-yellow-light);

  --color-border: var(--miq-divider-light-2);
  --color-border-hover: var(--miq-divider-light-1);

  --color-heading: var(--miq-aqua);
  --color-text: var(--miq-text-dark-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Changing color here for dark mode */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
