@import './base.css';

main {
  min-height: 80vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--miq-blue);
  transition: 0.4s;
  padding: 3px;
}

a,
p,
li,
input,
button,
label,
span,
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', Inter, sans-serif;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 27px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--color-background-btn);
  line-height: 1.2;
}

.btn:hover {
  background-color: var(--color-background-btn-hover);
  text-decoration: none;
}

.info {
  margin: 1.5rem 0 1rem 0;
}

.box {
  padding: 2rem;
  background-color: var(--color-background-soft);
  border-radius: 27px;
  margin-bottom: 1.5rem;
}

.title {
  font-family: 'Montserrat', Inter, sans-serif;
  font-weight: 800;
  color: black;
  font-size: 1.75rem;
  font-style: italic;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.button-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  max-width: 50%;
}



@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 481px) {}

@media (min-width: 576px) {
  .wrapper {
      max-width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrapper {
      max-width: 50%;
  }
}